body {
	margin: 0px;
}

#canvas {
	cursor: default;
}

#chat {
	display: inline-block;
	float: right;
	height: 600px;
	width: 330px;
	margin: 10px 15px 10px 0px;
}

#messages {
	list-style: none;
	overflow-y: auto;
	height: 550px;
	margin: 10px;
	padding: 0px;
}

#messages li {
	padding: 10px;
}

#messages li:nth-child(odd) { 
	background: #eee;
}